@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
a {
    textDecoration:none;
}
li {
    list-style: none;

}
input {
    outline: none;
}